@inject IWebHostEnvironment environment

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WorkloadIdentity.Web</title>
     <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
   
</head>
<body>
    <section id="page">
        <header class="header">
            <a href="/">Managed Identity Demo</a>
            <div class="userinfo">
                @environment.EnvironmentName | @User.Identity.Name    
            </div>
        </header>
        <nav>
            <div class="nav-container">
                <a href="KeyvaultDemo" class="nav-link">
                    <div class="nav-item">
                        <span class="nav-icon">
                            <img src="/img/keyvault.svg" />
                        </span>
                        Azure Keyvault
                    </div>
                </a>

                <a href="SqlDemo" class="nav-link">
                    <div class="nav-item">
                        <span class="nav-icon">
                            <img src="/img/sql.svg" />
                        </span>
                        SQL Demo
                    </div>
                </a>

                <a href="AzureDevOps" class="nav-link">
                    <div class="nav-item">
                        <span class="nav-icon">
                            <img src="/img/ado.svg" />
                        </span>
                        Azure DevOps Demo
                    </div>
                </a>
               
                
            </div>

        </nav>
        <main>

            @RenderBody()
            

           





        </main>
    </section>

    
    <script type="module" src="https://unpkg.com/%40fluentui/web-components"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>