@page
@inject IWebHostEnvironment environment
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>
    Managed Identity Demo App
</h1>

<fluent-card class="customcard">
    <p>
        This application demonstrates how to use Managed Identities to access Azure Resources. 
        It can be run in several environments and uses Workload Identities on AKS and demonstrates
        Federated Identities.
    </p>
    <p>
        Source code can be found in this GitHub repo: 
        <a href="https://github.com/azureholic/workload-identity-demo" target="_blank">
            https://github.com/azureholic/workload-identity-demo
        </a>
    </p>
    <p>
        This application is currently running in environment: <b>@environment.EnvironmentName</b>
    </p>
    

</fluent-card>

