@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">

    <fluent-button id="MI" name="MI" type="submit">Default Managed Identity</fluent-button>

</form>

@ViewData["Secret"]