@page
@inject IWebHostEnvironment environment
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>
    Managed Identity Demo App
</h1>

<fluent-card class="customcard">
    <div>
        This application demonstrates how to use Managed Identity to access Azure Resources
    </div>
    <div>
        This application is currently running in @environment.EnvironmentName
    </div>

</fluent-card>

