@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<h1>
    Managed Identity Demo App - Access Keyvault
</h1>
<fluent-card class="customcard">
    <pre><code>Your secret value = <b>@ViewData["Secret"]</b></code></pre>
    <pre><code>@ViewData["Token"]</code></pre>
</fluent-card>
<form method="post">
    <fluent-button id="MI" name="MI" type="submit">Get Token and Read Secret</fluent-button>
</form>
